*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


body
{
    width:100%;
}

#sidebar, #main {
    width:100%;
    clear:both;
    float:none;
    display:block;
}

#map {
	width: 100%;
	float: bottom;
}

#map_info{
	float: top;
	width: 100%;
}

#nav {
	width: 100%;
	overflow: hidden;
	height: auto;
}

#nav img {
    width: 150px;
    height: auto;
    padding: 1;
    border: 1;
    margin: 1;
    float: left;
}