body {
    margin: 0px;
    padding: 0px;
}

select {
    font-family: 'Lato', sans-serif;
}

h1{
    font-family: 'Lato', sans-serif;
    color: #C8102E;
    font-size: 20px;
}

h2{
    font-family: 'Lato', sans-serif;
    color: #C8102E;
    font-size: 15px;
    float: center;
}

h3 {
    font-family: 'Lato', sans-serif;
    color: #C8102E;
}

a:hover{
    text-decoration: underline;
}

a:active{
    text-decoration: underline;
}

p a{
    color: #C8102E;
    text-decoration: none;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
}

ol {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
}



/* dimensions of map */

#map {
    width: 48%;
    float: left;
    height: 370px;
    background-color: lightgrey;
    margin-bottom: 10px;
    margon-top: 100px;
    margin-left: 1%;
}

form {
    font-family: 'Lato', sans-serif;
}

/* nav bar */

#nav {
    list-style-type: none;
    overflow: hidden;
    background-color: #012169;
    top:0;
    position: fixed;
    height: 83px;
    width:100%;
    z-index: 999;
    text-transform: uppercase;
}

#nav li {
    float: left;
    display: inline-block;
    font-style: normal;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    text-align: center;
    padding: 0px 1%;
    margin: 20px 0 0;
    overflow: visible;
}

#nav li:first-of-type {
    margin: 4px 0 0;
}

#nav ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    text-align: right;
    margin: 10px auto;
    position: relative;
}

#nav img {
    width: 120px;
    height: auto;
    padding: 1;
    border: 1;
    margin: 1;
    float: left;
    vertical-align: middle;
    overflow: visible;
}

#nav a {
    color: white;
    text-decoration: none;
}

#nav a.hover{
    color: #C8102E;
}


#main {
    margin-top: 120px;
    margin-bottom: 120px;
    width: 100%;
    justify-content: space-around;
    text-align: justify;
    position: relative;
}

#card {

    background-color: #C8102E;
    padding: 2%;
    overflow: auto;
    margin: 0.5%;
}

#card img{
    height: auto;
    float: left;
    width: 20%;
    padding: 1%;
    background-color: #FFFFFF;
}

#card p{
    float: right;
    width: 65%;
    background: #C8102E;
    padding: 1%;
    color: #012169;
    font-family: 'Pompiere', cursive;
    margin-left: 0;
    font-size: 1.25em;
}

#card p a{
    color: #FFFFFF;
    text-decoration: none;
}

#London {
    background-color: #012169;
    padding: 2%;
    border: 1%;
    overflow: auto;
    margin: 0.5%;
}
#London img{
    height: auto;
    float: right;
    width: 20%;
    padding: 1%;
    background-color: #FFFFFF;
}

#London p{
    float: left;
    width: 65%;
    background: #012169;
    padding: 1%;
    color: #FFFFFF;
    font-family: 'Pompiere', cursive;
    margin-right: 0;
    font-size: 1.25em;
}

#London ul{
    float: left;
    color: #FFFFFF;
    font-family: 'Pompiere', cursive;
    font-size: 10px;
}

#London p a{
    color: #C8102E;
    text-decoration: none;
}

#data {
    background-color: #E8E8E8;
    padding: 2%;
    overflow: auto;
    margin: 1%;
}

#data p {
    width: 90%;
    background: #E8E8E8;
    padding: 1%;
    color: #012169;
    margin-right: 0;
    font-size: 1em;
}

#data p a {
    color: #C8102E;
    text-decoration: none;
}

#data_img {

    background-color: #E8E8E8;
    padding: 2%;
    overflow: auto;
    margin: 1%;
}

#data_img img{
    height: auto;
    float: right;
    width: 30%;
    padding: 1%;
    background-color: #FFFFFF;
}

#data_img p{
    float: left;
    width: 65%;
    background: #E8E8E8;
    padding: 1%;
    color: #012169;
    margin-left: 0;
    font-size: 100%;
}

#data_img p a{
    color: #FFFFFF;
    text-decoration: none;
}

#selectmenu{
    width: 48%;
    float: right;
    margin: 0.5%;
}

/* footer */

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 0.75em;
    color: grey;
    background-color: white;
    clear: left;
    text-align: center;
    font-family: sans-serif;
}

.disclaim {
    font-family: sans-serif;
    font-size: 10px;
    font-variant: normal;
}


.github {
    float: right;
    margin-right: 25px;
    margin-top: 0;
    margin-bottom: 0;
}

.disclaim {
    float: left;
    margin-top: 0;
    margin-bottom: 0;
}